<h2>好友資料</h2>

<mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
  showFirstLastButtons>
</mat-paginator>
<mat-table [dataSource]="lineUserDataSource">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>名稱</mat-header-cell>
    <mat-cell *matCellDef="let lineUserModel">{{ lineUserModel.name ? lineUserModel.name : '--No Name--'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="uid">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let lineUserModel">{{ lineUserModel.uid }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createTime">
    <mat-header-cell *matHeaderCellDef>加入時間</mat-header-cell>
    <mat-cell *matCellDef="let lineUserModel">{{ lineUserModel.createTime }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>狀態</mat-header-cell>
    <mat-cell *matCellDef="let lineUserModel">{{ getChineseStatus(lineUserModel.status)}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name', 'uid', 'createTime', 'status']"></mat-header-row>

  <mat-row *matRowDef="let row; columns: ['name', 'uid', 'createTime', 'status']"></mat-row>
</mat-table>