<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>發送群組</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'dashboard', 'survey']" mat-list-item>群組列表</a>
            <a mat-list-item [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>建立群組</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>訊息發送</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'dashboard', 'survey']" mat-list-item>訊息列表</a>
            <a mat-list-item [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>訊息發送</a>
            <a mat-list-item [routerLink]="['/', 'dashboard', 'inbox']" mat-list-item>建立訊息</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>成效檢視</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'friend']">好友列表</a>
            <a mat-list-item [routerLink]="['/', 'friend']">發送成效</a>
        </mat-nav-list>
    </mat-expansion-panel>

</mat-accordion>