<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>發送群組</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'bcs', 'groupList']" mat-list-item>群組列表</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'groupCreate']" mat-list-item>建立群組</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>訊息發送</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'bcs', 'msgList']" mat-list-item>訊息列表</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'msgSending']" mat-list-item>訊息發送</a>
            <!-- <a mat-list-item [routerLink]="['/', 'friend']" mat-list-item>建立訊息</a> -->
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>追蹤連結</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'bcs', 'traceLinkList']" mat-list-item>連結列表</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'traceLinkCreate']" mat-list-item>連結建立</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>健康前線</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'bcs', 'article', 'list']" mat-list-item>文章列表</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'article', 'create']" mat-list-item>文章建立</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>成效檢視</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'bcs', 'friendList']">好友資料</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'friendEffect']">好友成效</a>
            <a mat-list-item [routerLink]="['/', 'bcs', 'sportDiary']">運動日記</a>
            <!-- <a mat-list-item [routerLink]="['/', 'bcs', 'sendingInfo']">發送成效</a> -->
            <a mat-list-item [routerLink]="['/', 'bcs', 'linkEffect']">連結成效</a>
        </mat-nav-list>
    </mat-expansion-panel>

</mat-accordion>