<h2>建立群組</h2>

<div class="container" fxLayoutAlign="center">
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          名稱
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="群組名稱" [(ngModel)]="formData.groupName" name="groupName" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          描述
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="群組描述" [(ngModel)]="formData.groupDescription" name="groupDescription">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p></p>
          成員
        </td>
        <td>
          <button type="button" mat-raised-button (click)="fileInput.click()">上傳</button>
          {{fileName}}
          <input type="file" hidden #fileInput (change)="uploadFile($event)" accept=".txt">
        </td>
      </tr>
    </table>
    <p></p>
    <button mat-raised-button (click)="createGroup()" color="primary">建立</button>
  </form>

</div>