<h2>訊息發送</h2>

<div class="container" fxLayoutAlign="center">

  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          發送方式
        </td>
        <td>
          <mat-radio-group>
            <mat-radio-button class="example-radio-button" *ngFor="let method of methods" [value]="method.value">
              {{method.chinese}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="example-selected-value">Your favorite season is: {{sendingMethod}}</div>
        </td>
      </tr>
      <tr>
        <td>
          發送時間
        </td>
        <td>
          <div fxLayout="row">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="選擇日期">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field style="width: 100px;">
              <mat-select placeholder="時">
                <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field style="width: 100px;">
              <mat-select placeholder="分">
                <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          發送群組
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="選擇群組">
              <mat-option *ngFor="let group of groups" [value]="group.groupId">
                {{group.groupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
    <p></p>
    <button mat-raised-button color="primary">建立</button>
  </form>

</div>