<h2>訊息發送</h2>

<div class="container" fxLayoutAlign="center">

  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          發送方式
        </td>
        <td>
          <mat-radio-group [(ngModel)]="sendingMethod" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" value="Immediate" name="Immediate">
              立即發送
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Scheduled" name="Scheduled">
              預約發送
            </mat-radio-button>
          </mat-radio-group>
          <!-- <div class="example-selected-value">Method is: {{sendingMethod}}</div> -->
        </td>
      </tr>
      <tr>
        <td>
          發送時間
        </td>
        <td>
          <div fxLayout="row">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="選擇日期" [(ngModel)]="sendingDate" name="sendingDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field style="width: 100px;">
              <mat-select placeholder="時">
                <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field style="width: 100px;">
              <mat-select placeholder="分">
                <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="example-selected-value">sendingDate is: {{sendingDate | date:'shortDate'}}</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          發送群組
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="選擇群組">
              <mat-option *ngFor="let group of groups" [value]="group.groupId">
                {{group.groupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
    <p></p>

    <button mat-raised-button color="primary">傳送給我</button>
    &nbsp;
    <button mat-raised-button color="primary">發送訊息</button>

  </form>

</div>